.ml_dropzone {
  border: 2px dashed black;
  background-color: rgb(241, 241, 241);
  padding: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_desc {
    font-weight: 700;
    font-size: 17px;
    color: var(--app-secondary-color);
  }
  &_file_container {
    background-color: red;
    display: inline;
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
  }
  &_file {
    display: flex;
    gap: 0.5rem;
  }
}
