.moduleWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.moduleWrapper_titleContainer .title {
  font-size: 25px !important;
  font-weight: 700 !important;
  margin: 0;
  color: var(--red-primary);
}

.moduleWrapper_titleContainer {
  height: 3vh;
  margin-top: unset;
  margin-bottom: 1rem;
}

.moduleWrapper_childrenContainer {
  height: 85vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}