.privateLayout {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--animated-time) ease-in-out;
}

.privateLayoutContent{
  width: 100%;
  padding: .0rem 0rem .0rem 2rem;
  background-color: var(--white);
}